In [80]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [81]:
df= pd.read_csv('googleplaystore.csv')

In [82]:
#df.head(5)

In [83]:
CategoryGroup=df.groupby('Category').count()

In [84]:
GenreGroup=df.groupby('Genres').count()

In [85]:
Group=df.groupby(['Category','Genres']).count()

In [86]:
GameGroup=df.groupby(['Category']).get_group('GAME')

In [87]:
EDUCATIONGroup=df.groupby(['Category']).get_group('EDUCATION')

In [88]:
ENTERTAINMENTGroup=df.groupby(['Category']).get_group('ENTERTAINMENT')

In [89]:
NewDf=pd.concat([GameGroup,EDUCATIONGroup,ENTERTAINMENTGroup])

In [90]:
NewDf=NewDf.fillna(0)

In [91]:
rate=[]
for i in NewDf.Rating :
    rate.append(int(i))
NewDf.Rating=rate

In [92]:
dummies=pd.get_dummies(NewDf,columns=['Category', 'Genres','Type','Content Rating','Rating'], drop_first=True)
dummies.drop(columns=['App','Installs'],inplace=True)
df = pd.concat([NewDf, dummies], axis=1)
df=df.fillna(0)

In [93]:
df.drop(columns=['Category', 'Genres','Type','Content Rating','Rating','Reviews','Size','Price','Last Updated','Current Ver','Android Ver'],inplace=True)

In [94]:
df.reset_index(inplace=True)

In [95]:
dfcopy=df.copy()

In [96]:
userdf=pd.DataFrame()
appid=[1655,1662,996]
rate=[2.5,5,4.5]
userdf['appid']=appid
userdf['rating']=rate

In [97]:
profile1=dfcopy[dfcopy['index'].isin(userdf['appid'])]

In [98]:
profile1

,index,App,Installs,Category_ENTERTAINMENT,Category_GAME,Genres_Action;Action & Adventure,Genres_Adventure,Genres_Adventure;Action & Adventure,Genres_Arcade,Genres_Board,...,Genres_Word,Type_Paid,Content Rating_Everyone 10+,Content Rating_Mature 17+,Content Rating_Teen,Rating_1,Rating_2,Rating_3,Rating_4,Rating_5
2,1655,Candy Crush Saga,"500,000,000+",0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,1662,Pou,"500,000,000+",0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1441,996,Funny Pics,"1,000,000+",1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [99]:
profile1.drop(['index','App','Installs'],1,inplace=True)

In [100]:
profile1 = profile1.reset_index(drop=True)
profile1

,Category_ENTERTAINMENT,Category_GAME,Genres_Action;Action & Adventure,Genres_Adventure,Genres_Adventure;Action & Adventure,Genres_Arcade,Genres_Board,Genres_Card,Genres_Casino,Genres_Casual,...,Genres_Word,Type_Paid,Content Rating_Everyone 10+,Content Rating_Mature 17+,Content Rating_Teen,Rating_1,Rating_2,Rating_3,Rating_4,Rating_5
0,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [101]:
rating=userdf['rating'].values
rating

array([2.5, 5. , 4.5])

In [102]:
rating1=profile1.transpose().dot(rating)
#rating1

In [104]:
table=dfcopy.set_index('index')

In [106]:
table.drop(['App','Installs'],1,inplace=True)

In [110]:
recommendationTable1 = ((table*rating1).sum(axis=1))/(rating1.sum())
recommendationTable1=recommendationTable1.sort_values(ascending=False)

In [111]:
recommendationTable1

index
1808     0.555556
1705     0.555556
1991     0.555556
1994     0.555556
1995     0.555556
2011     0.555556
1774     0.555556
1766     0.555556
1751     0.555556
1747     0.555556
1894     0.555556
1741     0.555556
1733     0.555556
1731     0.555556
1722     0.555556
1716     0.555556
1711     0.555556
1814     0.555556
1975     0.555556
1974     0.555556
1869     0.555556
1890     0.555556
1888     0.555556
1885     0.555556
1880     0.555556
1875     0.555556
1873     0.555556
1904     0.555556
1972     0.555556
1908     0.555556
           ...
775      0.185185
801      0.185185
6832     0.185185
6839     0.185185
6932     0.185185
10367    0.185185
799      0.185185
798      0.185185
797      0.185185
796      0.185185
795      0.185185
6967     0.185185
794      0.185185
789      0.185185
6965     0.185185
793      0.185185
792      0.185185
791      0.185185
790      0.185185
6846     0.185185
6842     0.185185
6841     0.185185
757      0.185185
729      0.111111
713      0.111111
818      0.111111
841      0.111111
721      0.111111
821      0.111111
704      0.000000
Length: 1449, dtype: float64